<%= content_tag :h1, "Les devis" %>
<%= content_tag :br %><%= content_tag :br %>
<div class="quotes">
  <div class="container">
    <% @quotes.each do |quote| %>
      <%= link_to "Voir le devis", quote_path(quote), :class => "button"%>
      <div class="quote">
        <p class="content">
          <strong>Client:</strong>&nbsp;<%= quote.form_gender %> <%= quote.lastname %>&nbsp;&nbsp;&nbsp;
          <strong>Téléphone:</strong> <%= quote.phone %>&nbsp;&nbsp;&nbsp;
          <strong>Adresse du chantier:</strong>&nbsp;
          <%= quote.adresse2 %> <%= quote.zipcode2 %> <%= quote.city2 %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong>Montant HT:</strong>&nbsp;<%= quote.totalht %> €
        </p>
        <p class="time">
          Créer le <%= quote.created_at.strftime("%d/%m/%Y") %>&nbsp;&nbsp;&nbsp;
         <%= link_to "modifier le devis", edit_quote_path(quote) %>&nbsp;&nbsp;&nbsp;
         <%= link_to "suprimer le devis", quote_path(quote), methode: :delete %>
        </p>
      </div>
    <% end %>
  </div>
</div>

