<h1> Les devis </h1>
<br> <br> <br>

<div class="quotes">
  <div class="container">
    <% @quotes.each do |quote| %>
      <%= link_to "Allez voir", quote_path(quote)%>
      <div class="quote">
        <p class="content">
          <strong>Adresse du chantier:</strong>&nbsp;
          <%= quote.adresse2 %> <%= quote.zipcode2 %> <%= quote.city2 %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong>Montant HT:</strong>&nbsp;<%= quote.totalht %> €&nbsp;&nbsp;&nbsp;
          <strong>Client:</strong>&nbsp;<%= quote.form_gender %> <%= quote.lastname %>
        </p>
        <p class="time">Créer le <%= quote.created_at.strftime("%d/%m/%Y") %></p>
      </div>
    <% end %>
  </div>
</div>
